################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VideoJatekSim/VideoJatekSim/obj
/VideoJatekSim/.vs/VideoJatekSim
/VideoJatekSim/.vs/ProjectEvaluation
/.vs
/VideoJatekSim/VideoJatekSim/bin/Debug/net8.0
